.setting_panel {
	text-align: left;
	font-size: 1rem;
	padding: 0.5rem;
}
.ifld {
	border: none;
	background: #e7edf8;
}
#AFEtable {
	display:none;
}
#AFEsetting {
	display:none;
}

#hide_button {
	display:none;
}


